<div class="profile-container">
  <div class="profile-picture">
    <img *ngIf="profileImage" [src]="profileImage" alt="Profile" />
    <div *ngIf="!profileImage" class="placeholder"></div>
  </div>
  <div
    class="upload-area"
    (dragover)="onDragOver($event)"
    (drop)="onDrop($event)"
    (click)="fileInput.click()"
  >
    <input
      type="file"
      accept="image/*"
      #fileInput
      (change)="onFileSelected($event)"
      style="display: none"
    />
    <div class="upload-icon"></div>
    <p>DRAG IMAGE <br />OR CLICK TO ADD</p>
  </div>
</div>
